<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--使用静态工厂实例化bean，了解即可-->
    <!--要告诉Spring工厂里的方法-->
    <bean id="orderDao" class="com.lain.factory.OrderDaoFactory" factory-method="getOrderDao"/>

</beans>